<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1등 인테리어 커뮤니티, 우리의집</title>

    <meta name="author" content="3team">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <meta property="og:type" content="website">
    <meta property="og:site_name" content="wehouse">
    <meta property="og:title" content="Introduce your home, together">
    <meta property="og:description" content="Deadock MiddleProject">
    <meta property="og:image" content="img/logo__github.png">
    <meta property="og:url" content="https://wehouse.com">

    <!-- 대표 로고 -->
    <link rel="icon" href="../../image/PNG/favicon.png">
    <link rel="apple-touch-icon" href="../../image/PNG/favicon.png">
    
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/qnaView.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <!-- body 태그에 직접적으로 css는 부여하지 않는다. 컨테이너를 따로 지정하자. -->
    <!-- 언더바 두개를 사용하는 이유 -->
<div class="body__container"> <!-- body의 일부분인 컨테이너임을 의미 -->

    <!-- HEADER -->
    <header class="section section--header">
        <!-- 콘텐츠가 들어가는 inner영역 -->
        <div class="inner clearfix">

            <div class="menu-group float--left">
                
                <div class="logo">
                    <a href="#">우리의집</a>
                </div>

            </div>

            <div class="sign-group float--right">

                <form id="search-form" method="POST" action=""><!-- 고유한 개체에 id 명시 -->
                    <span class="search-icon"></span>
                    <input type="text" id="search" class="input--text" placeholder="우리의집 통합검색">
                    <input type="submit" value="Submit"><!-- 화면엔 있지만 숨길것임. -->
                </form>

                <ul class="sub-menu">
                    <li><a href="./signin.html">로그인</a></li>
                    <li><a href="./signup.html">회원가입</a></li>
                </ul>

                <div class="btn-group">
                    <a href="" class="btn">글쓰기
                        <i style="margin-left: 10px;"class="fas fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- 서브 메뉴 집들이(사진), 질문과 답변, 이벤트 -->
    <header class="section sub-section">
            <div class="inner clearfix">

                <div class="section-memu float--left">
                    <ul class="section-group active">
                        <li><a href="#">사진</a></li>
                        <li><a href="#">질문과답변</a></li>
                        <li><a href="#">쿠폰</a></li>
                        <li><a href="#">공지사항</a></li>
                    </ul>
                </div>

                <div class="sign-group float--right">
                    <a href="" class="textbold">마이페이지
                    </a>
                </div>
                
            </div>
    </header>

    <section class="section section--qnaView">
        <div class="inner">

            <div class="qna-container">
                <div class="question-container">
                    
                    <div class="question-title">

                        <ul class="view-title">
                            <li>질문과 답변</li>
                            <li class="filter">
                                <span>10평대</span>
                                <span>프로방스&로맨틱 스타일</span>
                                <span>빌라&연립</span>
                            </li>
                            <li>인테리어 질문합니다.</li>
                        </ul>

                    </div>

                    <div class="photo-contents">

                        <img src="../../image/TESTIMAGE/oneroom.jpg" alt="">
                        <p> 맘편한 내 공간 :) </p>

                        <!-- <img src="../../image/TESTIMAGE/532e8ec03fa04705b1ba946c04aa1664.jpg" alt="">
                        고딕하게 꾸며본 부모님집 :)

                        <img src="../../image/TESTIMAGE/64bde62143cf49b88e509725b6c703b1.png" alt="">
                        곧 다가올 크리스마스를 위한 장식들 ! :)

                        <img src="../../image/TESTIMAGE/bddd5515ce78466daaea95e620e70dfa.jpg" alt="">
                        여기는 주방!

                        <img src="../../image/TESTIMAGE/c8cd92bc8ba84b749cd4d39f72680d63.jpg" alt="">
                        이 집의 구조가 궁금하죠? -->
                    </div>

                    <div class="photo-status">
                        
                        <ul class="status-item">
                            
                            <li>
                                조회
                                <span>
                                    2,452
                                </span>
                            </li>

                            <div class="vertical-dot"></div>
                            
                            <li>
                                댓글
                                <span>
                                    5
                                </span>
                            </li>

                            <div class="vertical-dot"></div>
                            
                            <li class="report report-board" onclick="">
                               <span>신고</span>
                            </li>

                        </ul>

                    </div>

                    <div class="photo-comment">

                        <div class="comment-status">
                            <span class="title">
                                댓글
                            </span>
                            <span class="comment-number">
                                5
                            </span>
                        </div>

                        <div class="comment-write">

                            <div class="write-profile">
                                <img src="../../image/TESTIMAGE/oneroom.jpg" alt="">
                            </div>

                            <div class="write">
                                <form class="input--comment">
                                    <input onsubmit="return false" type="text" id="input_comment" class="comment--text" placeholder="비방 및 욕설시 당신의 손모가지는 날아갑니다 :) ">
                                    <span class="comment_submit">등록</span>
                                </form>
                            </div>

                        </div>

                        <div class="comment-list">

                            <ul class="uesrcomment-container">
                                <li class="other-comment">

                                    <div class="user-profile">
                                        <img src="../../image/poyo.png" alt="">
                                    </div>

                                    <div class="user-comment">

                                        <div class="nameandcomment">
                                            
                                            <span class="username">포티옹포티옹</span>

                                            <p class="usercomment">
                                                분홍분홍 너무 이뻐요분홍분홍 너무 이
                                            </p>

                                        </div>

                                        <div class="comment-report">
                                            <ul class="report-list">
                                                <li>
                                                    <span>1주 전</span>
                                                </li>

                                                <div class="vertical-dot"></div>

                                                <li class="like">
                                                    <span><i class="fas fa-heart"></i>
                                                        좋아요</span>
                                                </li>

                                                <div class="vertical-dot"></div>

                                                <li class="report report-comment">
                                                    <span>신고</span>
                                                </li>

                                                <div class="vertical-dot"></div>

                                                <li class="report">
                                                    <span>삭제</span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                </li>

                                <li class="my-comment">

                                    <div class="user-profile">
                                        <img src="../../image/TESTIMAGE/oneroom.jpg" alt="">
                                    </div>

                                    <div class="user-comment">

                                        <div class="nameandcomment">
                                            
                                            <span class="username">에비드</span>

                                            <p class="usercomment">
                                                감사합니다.
                                            </p>

                                        </div>

                                        <div class="comment-report">
                                            <ul class="report-list">
                                                <li>
                                                    <span>1주 전</span>
                                                </li>

                                                <div class="vertical-dot"></div>

                                                <li class="like">
                                                    <span><i class="fas fa-heart"></i>
                                                        좋아요</span>
                                                </li>

                                                <div class="vertical-dot"></div>

                                                <li class="report report-comment">
                                                    <span>신고</span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>


                    <div class="paging--container">

                        <!-- 페이징 폼 -->
                        <ul class="page--list">
                            <li class="page-number prev--page"><i class="fas fa-chevron-left"></i></li>
                            <li class="page-number active">1</li>
                            <li class="page-number">2</li>
                            <li class="page-number">3</li>
                            <li class="page-number">4</li>
                            <li class="page-number">5</li>
                            <li class="page-number">6</li>
                            <li class="page-number">7</li>
                            <li class="page-number">8</li>
                            <li class="page-number">9</li>
                            <li class="page-number">10</li>
                            <li class="page-number next--page"><i class="fas fa-chevron-right"></i></li>
                        </ul>

                    </div>


                </div>

                <div class="writerinfo-container">
                    
                    <div class="writerinfo">

                        <div class="writer-profile">
                            <div class="writerimage">
                                <img src="../../image/TESTIMAGE/oneroom.jpg" alt="">
                            </div>

                            <div class="writername">
                                
                                <span>에비드</span>

                            </div>
                        </div>

                        <div class="followbtn">
                            <button type="button" class="followbtn">팔로우</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="section section--clipboard">
        <div class="inner">
            <input id="myInput" value="" readonly>
            <span id="clip--meassage">현재 URL이 복사되었습니다.😁</span>
            <button onclick="clipboard()" id="clipboard">URL</button>
        </div>    
    </section>

    <!-- FOOTER -->
    <footer class="section">
            <div class="inner clearfix">

                <ul class="site-links float--right">
                    <li>@Copyright © 2020 ~ 2020 by Daedockplace, Inc All rights reserved</li>
                </ul>

                <ul class="site-links float--left">
                    <li><a href="#">브랜드 스토리</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </div>
    </footer>

    <div class="modal-container">
        <div class="modal-bg">
            <div class="modal">

                <div class="popup-title">
                </div>

                <div class="report--list">

                    <form action="" class="report--form">

                        <!-- 게시글 ID, 혹은 댓글 작성자 ID -->
                        <input type="hidden">

                        <ul class="report--box">
                            <li>
                                <input id="C1" type="radio" name="report--reason">
                                <label for="C1">주제와 맞지 않음</label>
                            </li>
                            <li>
                                <input id="C2" type="radio" name="report--reason">
                                <label for="C2">정보가 부정확함</label>
                            </li>
                            <li>
                                <input id="C3" type="radio" name="report--reason">
                                <label for="C3">지나친 광고성 게시물</label>
                            </li>
                            <li>
                                <input id="C4" type="radio" name="report--reason">
                                <label for="C4">도배 및 중복 게시물</label>
                            </li>
                            <li>
                                <input id="C5" type="radio" name="report--reason">
                                <label for="C5">저작권 침해가 우려됨</label>
                            </li>
                            <li>
                                <input id="C6" type="radio" name="report--reason">
                                <label for="C6">욕설/비방이 심함</label>
                            </li>
                            <li>
                                <input id="C7" type="radio" name="report--reason">
                                <label for="C7">외설적인 게시물</label>
                            </li>
                            <li>
                                <input id="C8" type="radio" name="report--reason">
                                <label for="C8">개인정보 노출</label>
                            </li>
                            <li>
                                <input id="C9" type="radio" name="report--reason">
                                <label for="C9">기타</label>
                            </li>
                        </ul>

                        <div class="popupbtn-group">
                            <button type="button" class="btn-submit">신고하기</button>
                            <button type="button" class="btn-cancel">닫기</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

    <!-- 헤더 고정시키는 js -->
    <script src="../../js/headerfixed.js"></script>

    <!-- 덧글 입력시에만 submit 가능하게하는 js -->
    <script src="../../js/commentwrite.js"></script>

    <!-- 사진 zoomIn, zoomOut js -->
    <script src="../../js/zooInOut.js"></script>

    <!-- 현재 페이지 url 복사해주는 js -->
    <script src="../../js/urlclip.js"></script>

    <!-- 신고 모달창 -->
    <script src="../../js/qnaView.js"></script>
</body>
</html>












