@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
/* 헤더 상단바 고정 */



/* 공통 모듈 */
.body__container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

/* SUMMARY */
.summary__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.summary__desciption {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}

/* 헤더 인풋 박스 */
.input--text {
    height: 40px;
    padding: 0 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.textbold {
    display: block;
    font-size: 15px;
    font-weight: 800;
    color: #424242;
    box-sizing: border-box;
}

.textbold:hover{
    color: #35C5F0;
}

/* 로그인 버튼 */
/* BTN */
.btn {
    font-family: 'Noto Sans KR', sans-serif;
    height: 40px;
    width: 100px;
    background:#35C5F0;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    /* 수평을 가지지만 위아래 패딩 가로사이즈를 가질 수 없다. 이 속성을 주면 다음 요소에 스페이스바로 인식해 빈공간이 생김 */
    padding: 0 12px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #ffffff;
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}

.btn--filter{
    min-width: 90px;
}

.input--text:hover {
    background: #f7f7f7;
}

.input--text::-webkit-input-placeholder {
    color: #cacaca;
    font-weight: 700;
}

.input--text::-ms-input-placeholder {
    color: #cacaca;
    font-weight: 700;
}

.input--text::-moz-input-placeholder {
    color: #cacaca;
    font-weight: 700;
}

/* 드롭 다운 버튼 */

.dropdown {
    position: relative;
    display: inline-flex;
}

.dropdown-content {
    display: none;
    top:40px;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    margin:0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 4;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content li:hover {
    color: #35C5F0;
    background:#f3f3f3;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}

/* 섹션 영역 */
.section {
    position: relative;
}

.section .inner {
    max-width: 1136px;
    /* 최대 너비 980px */
    margin: 0 auto;
    /* 중앙절렬. 980px이라는 영역이 중앙에 정위치 하게됨 상하 0 좌우 auto*/
    box-sizing: border-box;
    position: relative;
}

/* 헤더 영역 */
header {
    border-bottom: 1px solid#E5E5E5;
    background: #ffffff;
    /* white같은 지정값의 경우 브라우저마다 상이할 수 있으므로 헥사코드로 명시하자 */
}

header .inner {
    height: 80px;
    /* header는 안의 요소 inner에 영향을 받으므로 자식요소에 값을 지정해주도록 한다. 부모 height는 기본으로 auto */
}

header .menu-group {
    display: flex;
    /* 자식요소들을 수평 정렬 */
    align-items: center;
    height: 100%;
    /* inner높이 만큼 */
}

header .sign-group {
    display: flex;
    align-items: center;
    height: 100%;
}

header .logo {
    margin-right: 10px;
}

header .logo a {
    width:100px;
    height:30px;
    display: block;
    background-image: url("../../image/PNG/wehouse_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
    /* 들여쓰기 속성 html코드의 GitHub를 대체텍스트로 이용하기 위해 왼쪽으로 없애준다. 이를 명시하기위해 -9999px를 사용한다 */
}

/* 헤더 글쓰기 드롭다운 */
.section--haeder .dropdown--writelist {
    position: relative;
}

.dropdown--writelist .dropdown-write {
    position: absolute;
    top: 50px;
    right: -100px;
    z-index: 9999;
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    display: none;
}

.dropdown-write li {
    display: flex;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdown-write li:hover {
    background: #f8f8f8;
}

.dropdown-write li img {
    margin-right: 15px;
    width: 40px;
}

.dropdown-write .write-info {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
}

.write-info .write--description {
    font-size: 12px;
    font-weight: 500;
    color: #aaaaaa;
}

#search-form {
    order: 1;
    margin-right: 12px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon{
    width:20px;
    height:20px;
    position: absolute;
    background-image: url("../image/SVG/search.svg");
    background-repeat: no-repeat;
    z-index: 9999;
    left:12.5px;
}

/* 헤더 영역 */
.sticky {
    position: fixed;
    z-index: 9999;
    width:100%;
    top:0px;
    height:80px;
}

.sub--sticky {
    position: fixed;
    z-index: 8888;
    width:100%;
    top:80px;
    display: none;
}

#search {
    width: 240px;
    font-size: 14px;
}

#search+[type="submit"] {
    display: none;
}

header .sub-menu {
    order: 2;
    display: flex;
    margin-right: 14x;
}

header .sub-menu li a {
    padding: 2px 12.5px;
    display: block;
    font-size: 15px;
    font-weight: 800;
    color: #757575;
    border-left: 1px solid rgb(241, 241, 241);
    box-sizing: border-box;
}

header .sub-menu li a:hover {
    color: #35C5F0;
}

header .sub-menu li:last-child{
    margin-right: 10px;
}

header .btn-group {
    order: 3;
    display: flex;
    position: relative;
    /* 버튼 요소들이 inline-flex이므로 flex 필요 */
}

.sub-section {
    background: #ffffff;
}

.sub-section .inner{
    height:50px;
}

header .section-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

header .section-group{
    display: flex;
}

header .section-group li a {
    display: block;
    font-size: 15px;
    line-height: 1.6;
    margin: 8px 4px;
    padding: 6px 8px 4px;
    font-weight: 600;
    color: #424242;
    box-sizing: border-box;
}

header .section-group li a:hover{
    color:#35C5F0;
}

/* 공지 섹션 */
.section--notice{
    margin: 30px 0;
}

.section--notice .notice-container{
    display: flex;
    font-size: 18px;
    background: #D8E4FF;
    color:#333;
    border-radius: 50px;
    padding: 30px 40px;
    width:100%;
    height:30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.section--notice .notice-container:hover {
    background: #ffffff;
    transition: .3s;
}

/* 카테고리 */

.section--category{
    margin: 30px 0 15px 0;
}

.section--category .btn{
    background: #EEEEEE;
    color:#333333;
    font-weight: 700;
    width:auto;
}

.section--category .inner{
    display: flex;
}

.section--category .filter--group{
    flex:2;
    width:100%;
    justify-content: space-between;
}

.section--category .questionBtn--group{
    flex:1;
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.questionBtn--group .askwrite{
    background:#f3f3f3;
    color:#333;
    font-weight: 500;
    margin-right: 10px;
}

.questionBtn--group .questionwrite{
    background:#35C5F0;
    color: #ffffff;
    font-weight: 500;
    justify-content: flex-end;
}


/* 스크롤바 */

.filter-space{
    height:auto;
    max-height:320px;
    border-radius:10px;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.filter-space::-webkit-scrollbar {
    display: fixed;
    width: 10px;
    scrollbar-width: thin;
    scrollbar-color: rgb(65,120,240) transparent;
}

.filter-space::-webkit-scrollbar-track {
    background-color: transparent;
}

.filter-space::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:rgb(65,120,240);
}

.filter-space:-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

/* 필터 선택 컨테이너 */
.filter-section{
    margin-bottom: 15px;
}

.filter-section .filter--setting{
    display: flex;
}

.filter-section .search--filter{
    all:unset;
    display: block;
    background: #35C5F0;
    color: #ffffff;
    padding:10px;
    width:auto;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.filter-section .search--filter:not(:last-child){
    margin-right: 10px;
}

.search--filter:hover::before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
    transition: .3s;
}

.search--filter i{
    margin-left:5px;
}

.search--init{
    all: unset;
    color:#35C5F0;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.search--init:hover{
    color:#757575;
    transition: .3s;
}

.filter-section .nonactive{
    display: none;
}


/* 질문 게시판 컨테이너 */

.section--board .inner{
    border-top: 1px solid #dadce0;
}

.QnA-container .writecontainer{
    padding: 15px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadce0;
    box-sizing: border-box;
}

.writecontainer:hover{
    background:rgb(235, 235, 235);
    transition: .3s;
}

.write-content{
    cursor: pointer;
}

.writecontainer .write-box{
    flex:1;
}

.writecontainer .writeImg-box{
    width:120px;
    height:120px;
    margin-left: 20px;
    background: rgb(238, 238, 238);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.writecontainer .writeImg-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.write-box .write_title{
    font-size: 20px;
    color:#181818;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.4;
    max-height:30px;
    max-width: 940px;
    overflow: hidden;
}

.write-box .write_comment {
    font-size: 15px;
    font-weight: 300;
    color:#757575;
    line-height: 1.4;
    overflow: hidden;
    max-height:40px;
    max-width: 940px;
    overflow: hidden;
}

.write-box .write_info{
    margin-top: 18px;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.write_info .writer{
    margin-right: 20px;
    color: #181818;
    font-weight: 700;
}

.writer span:first-child{
    margin-right: 2px;
}

.write_date{
    color: #757575;
    font-size: 13px;
    font-weight: 300;
}

.dashed_vertical{
    margin:0 10px;
    border: 1px dashed #757575;
}

.write_comment span:last-child{
    color:#35C5F0;
    font-weight: 700;
}

.write_lookup{
    font-size: 13px;
    color:#757575;
    font-weight: 300;
    margin-right: 20px;
}

.write_lookup span:first-child{
    margin-right: 1px;
}

/* 페이징 */
.section-paging{
    margin: 30px 0;
}

.section-paging .inner{
    display: flex;
    justify-content: center;
}

.page--list{
    display: flex;
}

.page-number{
    cursor: pointer;
    border-radius:10px;
    width:30px;
    height:30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07);
    border: 1px solid #cacaca;
    box-sizing: border-box;
}

.page-number:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    background:rgb(245, 245, 245);
}

.section-paging .active{
    background: #35C5F0;
    border:none;
    color:#fff;
    box-sizing: border-box;
}
/* FOOTER */
footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
}

footer .inner {
    padding: 50px 0;
}

footer .site-links {
    display: flex;
}

footer .site-links li {
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
}

footer .site-links li a {
    color: #4078c0;
}

footer .site-links li a:hover {
    text-decoration: underline;
}

footer .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;
}

footer .logo:hover svg {
    fill: #4078c0;
}