@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
/* 헤더 상단바 고정 */



/* 공통 모듈 */
.body__container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

a {
    text-decoration: none;
    color: #000;
}

/* SUMMARY */
.summary__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.summary__desciption {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}

/* 헤더 인풋 박스 */
.input--text {
    height: 40px;
    padding: 0 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.textbold {
    display: block;
    font-size: 15px;
    font-weight: 800;
    color: #424242;
    box-sizing: border-box;
}

.textbold:hover {
    color: #35C5F0;
}

/* 로그인 버튼 */

/* 드롭 다운 버튼 */

.dropdown {
    position: relative;
    display: inline-flex;
}

.dropdown-content {
    display: none;
    top: 40px;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    margin: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 4;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content li:hover {
    color: #35C5F0;
    background: #f3f3f3;
}

/* BTN */
.btn {
    font-family: 'Noto Sans KR', sans-serif;
    height: 40px;
    width: 100px;
    background: #35C5F0;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    /* 수평을 가지지만 위아래 패딩 가로사이즈를 가질 수 없다. 이 속성을 주면 다음 요소에 스페이스바로 인식해 빈공간이 생김 */
    padding: 0 12px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #ffffff;
    outline: none;
    font-weight: 600;
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}

.input--text:hover {
    background: #f7f7f7;
}

.input--text::-webkit-input-placeholder {
    color: #cacaca;
    font-weight: 700;
}

.input--text::-ms-input-placeholder {
    color: #cacaca;
    font-weight: 700;
}

.input--text::-moz-input-placeholder {
    color: #cacaca;
    font-weight: 700;
}

/* 드롭 다운 버튼 */

.dropdown {
    position: relative;
    display: inline-flex;
}

.dropdown-content {
    display: none;
    top: 40px;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    margin: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 4;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #35C5F0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}

/* 섹션 영역 */
.section {
    position: relative;
}

.section .inner {
    max-width: 1136px;
    /* 최대 너비 980px */
    margin: 0 auto;
    /* 중앙절렬. 980px이라는 영역이 중앙에 정위치 하게됨 상하 0 좌우 auto*/
    box-sizing: border-box;
    position: relative;
}

/* 헤더 영역 */
.sticky {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0px;
    height: 80px;
}

.sub--sticky {
    position: fixed;
    z-index: 8888;
    width: 100%;
    top: 80px;
    display: none;
}

header {
    border-bottom: 1px solid#E5E5E5;
    background: #ffffff;
    /* white같은 지정값의 경우 브라우저마다 상이할 수 있으므로 헥사코드로 명시하자 */
}

header .inner {
    height: 80px;
    /* header는 안의 요소 inner에 영향을 받으므로 자식요소에 값을 지정해주도록 한다. 부모 height는 기본으로 auto */
}

header .menu-group {
    display: flex;
    /* 자식요소들을 수평 정렬 */
    align-items: center;
    height: 100%;
    /* inner높이 만큼 */
}

header .sign-group {
    display: flex;
    align-items: center;
    height: 100%;
}

header .logo {
    margin-right: 10px;
}

header .logo a {
    width: 100px;
    height: 30px;
    display: block;
    background-image: url("../image/PNG/userHome.logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    /* 들여쓰기 속성 html코드의 GitHub를 대체텍스트로 이용하기 위해 왼쪽으로 없애준다. 이를 명시하기위해 -9999px를 사용한다 */
}

/* 헤더 글쓰기 드롭다운 */
.section--haeder .dropdown--writelist {
    position: relative;
}

.dropdown--writelist .dropdown-write {
    position: absolute;
    top: 50px;
    right: -100px;
    z-index: 9999;
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    display: none;
}

.dropdown-write li {
    display: flex;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdown-write li:hover {
    background: #f8f8f8;
}

.dropdown-write li img {
    margin-right: 15px;
    width: 40px;
}

.dropdown-write .write-info {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
}

.write-info .write--description {
    font-size: 12px;
    font-weight: 500;
    color: #aaaaaa;
}

#search-form {
    order: 1;
    margin-right: 12px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("../image/SVG/search.svg");
    background-repeat: no-repeat;
    z-index: 9997;
    left: 12.5px;
}

#search {
    width: 240px;
    font-size: 14px;
}

#search+[type="submit"] {
    display: none;
}

header .sub-menu {
    order: 2;
    display: flex;
    margin-right: 14x;
}

header .sub-menu li a {
    padding: 2px 12.5px;
    display: block;
    font-size: 15px;
    font-weight: 800;
    color: #757575;
    border-left: 1px solid rgb(241, 241, 241);
    box-sizing: border-box;
}

header .sub-menu li a:hover {
    color: #35C5F0;
}

header .sub-menu li:last-child {
    margin-right: 10px;
}

header .btn-group {
    order: 3;
    display: flex;
    position: relative;
    /* 버튼 요소들이 inline-flex이므로 flex 필요 */
}

.sub-section {
    background: #ffffff;
}

.sub-section .inner {
    height: 50px;
}

header .section-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

header .section-group {
    display: flex;
}

header .section-group li a {
    display: block;
    font-size: 15px;
    line-height: 1.6;
    margin: 8px 4px;
    padding: 6px 8px 4px;
    font-weight: 600;
    color: #424242;
    box-sizing: border-box;
}

header .section-group li a:hover {
    color: #35C5F0;
}

/* 통합검색 결과 컨테이너 */
.section--searchfilter {
    margin: 40px 0 0 0;
}

.section--searchfilter .inner {
    padding-bottom: 40px;
    box-sizing: border-box;
}

.section--searchfilter span {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.section--searchfilter .search {
    font-weight: 600;
    color: #35C5F0;
}

.section--searchfilter .number {
    color: #35C5F0;
    margin-left: 5px;
}

.section--searchfilter .link--qna a {
    font-weight: 600;
    font-size: 14px;
    color: #35C5F0;
}

/* 사진 게시글 */

.section--Photoboard .inner{
    padding: 30px 0;
    box-sizing: border-box;
    border-top: 1px solid #cacaca;
}

.section--Photoboard .search-like {
    max-width: 100%;
    margin: 10px 0;
}

.search-title span:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-right: 5px;
}

.search-title span:nth-child(2) {
    color: #35C5F0;
    font-size: 20px;
    font-weight: 700;
}

.search-like .search-moreview a {
    color: #35C5F0;
    cursor: pointer;
}

.search-like .search-moreview a:hover {
    text-decoration: underline;
}

.section--Photoboard .photo--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 10px;
}

.section--Photoboard .photo-card {
    min-height: auto;
    border-radius: 4px;
}

.section--Photoboard .thumnail {
    width: auto;
    height: 275px;
    background: floralwhite;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.section--Photoboard .thumnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}

.section--Photoboard .mask {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.section--Photoboard .user-info {
    all:unset;
    position: absolute;
    bottom:20px;
    left:30px;
    z-index: 4;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-info .profile-image{
    width:32px;
    height:32px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.profile-image img{
    position: absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.user-info .user-nickname{
    margin-left: 5px;
    color:#ffffff;
    font-size: 15px;
}

/* 질문과 답변 컨테이너 */
.section--QnAboard {
    margin-top: 40px;
}

.section--QnAboard .inner{
    padding:40px 0;
    box-sizing: border-box;
    border-top: 1px solid #cacaca;
}

.section--QnAboard .search-like{
    margin-bottom: 20px;
}

.section--QnAboard .QnA-container{
    border: 1px solid #dadce0;
}

.QnA-container .writecontainer{
    padding: 15px 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.QnA-container .writecontainer:not(:last-child){
    border-bottom: 1px solid #dadce0;
}

.writecontainer:hover {
    background: rgb(235, 235, 235);
    transition: .3s;
}

.write-content {
    cursor: pointer;
}

.writecontainer .write-box {
    flex: 1;
}

.writecontainer .writeImg-box {
    width: 120px;
    height: 120px;
    margin-left: 20px;
    background: rgb(238, 238, 238);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.writecontainer .writeImg-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.write-box .write_title {
    font-size: 20px;
    color: #181818;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.4;
    max-height: 30px;
    max-width: 940px;
    overflow: hidden;
}

.write-box .write_comment {
    font-size: 15px;
    font-weight: 300;
    color: #757575;
    line-height: 1.4;
    overflow: hidden;
    max-height: 40px;
    max-width: 940px;
    overflow: hidden;
}

.write-box .write_info {
    margin-top: 18px;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.write_info .writer {
    margin-right: 20px;
    color: #181818;
    font-weight: 700;
}

.writer span:first-child {
    margin-right: 2px;
}

.write_date {
    color: #757575;
    font-size: 13px;
    font-weight: 300;
}

.dashed_vertical {
    margin: 0 10px;
    border: 1px dashed #757575;
}

.write_comment span:last-child {
    color: #35C5F0;
    font-weight: 700;
}

.write_lookup {
    font-size: 13px;
    color: #757575;
    font-weight: 300;
    margin-right: 20px;
}

.write_lookup span:first-child {
    margin-right: 1px;
}

/* 유저 리스트 컨테이너 */

.section--userboard {
    margin-top: 40px;
}

.section--userboard .inner {
    padding: 40px 0;
    box-sizing: border-box;
    border-top: 1px solid #cacaca;
}

.section--userboard .user-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 40px 0;
    padding:30px 0;
    box-sizing: border-box;
}

.user-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.user-list .user-image{
    max-width:80%;
    position: relative;
    background: rgb(238, 238, 238);
    border-radius: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.user-list .user-image img {
    width:100%;
    border-radius: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.user-list .user-name{
    margin-top: 10px;
    color: #757575;
}

.user-list .user-image:hover::before{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    z-index: 3;
    background: rgba(255, 255, 255, 0.2);
}

/* FOOTER */
footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
}

footer .inner {
    padding: 50px 0;
}

footer .site-links {
    display: flex;
}

footer .site-links li {
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
}

footer .site-links li a {
    color: #4078c0;
}

footer .site-links li a:hover {
    text-decoration: underline;
}

footer .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;
}

footer .logo:hover svg {
    fill: #4078c0;
}